.scroll-outer {
    overflow: hidden;
    width: 400px;
    height: 300px;
    position: relative;
}

.scroll-outer.active {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scroll-inner {
    width: 415px;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}

.scrollbar {
    position: absolute;
    right: 0;
    width: 15px;
    border: 3px solid #6a635e;
    box-sizing: border-box;
    border-radius: 8px;
}

.active .scrollbar {
    background-color: #cfcac2;
}
